**/*.md
*.code-workspace
.ci
*.dockerignore
.env-*
.github
.gitignore
.git
.tool-versions
.vscode
docker-compose.yml
git-genui.config.json
LICENSE
reset_env_variables.sh
set_env_variables.sh
start.sh
stop.sh
